<div class="content-centered">
  <img
    src="https://images-platform.99static.com//h6kpkak16RyBusyHbQCTSwaK-gs=/120x119:836x835/fit-in/500x500/99designs-contests-attachments/66/66545/attachment_66545301"
    alt="Girl in a jacket"
    width="350"
    height="300
  "
  >
  <%= link_to "LOG IN", new_user_session_path, class: 'main-btn' %>
  <%= link_to "SIGN UP", new_user_registration_path, class: 'secondary-btn' %>
</div>
