/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

/* splash screen */
body {
  margin: 0%;
  display: flex;
  flex-direction: column;
}
.content-centered {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.main-btn {
  background-color: #3778c2;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 80%;
  font-family: "Proxima Nova", sans-serif;
  font-weight: lighter;
}

.secondary-btn {
  background-color: #ffffff;
  border: none;
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 80%;
  font-family: "Proxima Nova", sans-serif;
  font-weight: lighter;
}

.icon {
  width: 25px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg);
}

.nav-bar {
  background-color: #3778c2;
  display: flex;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Proxima Nova", sans-serif;
  font-weight: lighter;
}

.with-a {
  width: auto;
  cursor: pointer;
  padding: 0%;
}

.l {
  visibility: hidden;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field > input {
  width: 85%;
  height: 36px;
}

.self-center {
  text-decoration: none;
  color: gray;
  align-self: center;
  margin-top: 20px;
}
