<!DOCTYPE html>
<html>
  <head>
    <title>Loading...</title>
    <style>
      /* Add your CSS styles here */
      .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 2em;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="loading">Loading...</div>
  </body>
</html>
